---
import { languagesList } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';

const pathPage = (globalThis as any).BASE_URL;
const currentLang = Astro.currentLocale || 'en';
const translations = useTranslations(currentLang as keyof typeof languagesList);

interface SocialLink {
	title: string;
	icon: string;
	url: string;
}

const socialLinks: SocialLink[] = [
	{
		title: 'GitHub',
		icon: 'github.svg',
		url: 'https://github.com/cvelasquezr8',
	},
	{
		title: 'LinkedIn',
		icon: 'linkedin.svg',
		url: 'https://linkedin.com/in/cvelasquezr8',
	},
	{
		title: 'RoadMap',
		icon: 'roadmap.svg',
		url: 'https://roadmap.sh/u/cvelasquezr8',
	},
	{
		title: 'Hacker Rank',
		icon: 'hacker-rank.svg',
		url: 'https://hackerrank.com/profile/cvelasquezr8',
	},
	{
		title: 'LeetCode',
		icon: 'leetcode.svg',
		url: 'https://leetcode.com/u/cvelasquezr8/',
	},
];

interface NavigationSection {
	title: string;
	elements: {
		name: string;
		href: string;
		isTargetBlank?: boolean;
	}[];
}

const navigationLinks: NavigationSection[] = [
	{
		title: translations('footer.navigation.title'),
		elements: [
			{ name: translations('footer.navigation.home'), href: '#' },
			{
				name: translations('footer.navigation.skills'),
				href: '#technologies',
			},
			{
				name: translations('footer.navigation.projects'),
				href: '#projects',
			},
			{
				name: translations('footer.navigation.certificates'),
				href: '#courses',
			},
			{
				name: translations('footer.navigation.contact'),
				href: '#contact',
			},
		],
	},
	{
		title: translations('footer.project.title'),
		elements: [
			{
				name: translations('footer.projects.equasystem'),
				href: 'https://equasystems.netlify.app/',
				isTargetBlank: true,
			},
		],
	},
	{
		title: translations('footer.certificate.title'),
		elements: [
			{
				name: translations(
					'footer.certificates.hacker_rank_node_basic',
				),
				href: 'https://www.hackerrank.com/certificates/iframe/14edc5459ca3',
				isTargetBlank: true,
			},
			{
				name: translations('footer.certificates.udemy_sql_advance'),
				href: 'https://drive.google.com/file/d/1_PLdB64MTnEabUs_AYEvgR6BxayXyPG_/view?usp=sharing',
				isTargetBlank: true,
			},
			{
				name: translations('footer.certificates.udemy_sql_basic'),
				href: 'https://drive.google.com/file/d/1MZwhLd-UtauTlT0oo4yGy2xbxiB5nH-y/view?usp=sharing',
				isTargetBlank: true,
			},
		],
	},
];
---

<!-- Footer -->
<footer class="py-4 bg-gray-900/50 border-t border-blue-500/20 section-fade">
	<div class="container mx-auto px-4">
		<!-- Logo and Social Links -->
		<div
			class="flex flex-col md:flex-row items-center justify-between mb-8"
		>
			<div class="flex items-center gap-4 mb-6 md:mb-0">
				<div
					class="w-12 h-12 rounded-lg bg-gradient-to-r from-blue-600 to-purple-600 flex items-center justify-center text-white text-2xl"
				>
					🚀
				</div>
				<span class="gradient-text text-xl font-bold"
					>Carlos Velasquez</span
				>
			</div>
			<div class="flex gap-4">
				{
					socialLinks.map((link) => (
						<a
							href={link.url}
							class="p-2 rounded-lg bg-gray-800/50 hover:bg-blue-500/20 transition-colors"
							title={link.title}
							target="_blank"
						>
							<img
								src={`${pathPage}images/${link.icon}`}
								alt={link.title}
								class="w-6 h-6"
								loading="lazy"
							/>
						</a>
					))
				}
			</div>
		</div>

		<div class=`grid grid-cols-2 md:grid-cols-3 gap-8 mb-12`>
			{
				navigationLinks.map((section) => (
					<div>
						<h3 class="text-blue-500">{section.title}</h3>
						<ul class="space-y-2">
							{section.elements.map((element) => (
								<li>
									<a
										href={element.href}
										class="text-gray-400 hover:text-blue-500 transition-colors"
										target={
											element.isTargetBlank
												? '_blank'
												: '_self'
										}
									>
										{element.name}
									</a>
								</li>
							))}
						</ul>
					</div>
				))
			}
		</div>

		<!-- Copyright -->
		<div class="text-center text-gray-400 pt-2 border-t border-blue-500/20">
			<p>
				© {new Date().getFullYear()} Carlos Velasquez. {
					translations('footer.rights')
				}
			</p>
			<p class="mt-2 text-sm">{translations('footer.crafted')}</p>
		</div>
	</div>
</footer>
