---
interface Technology {
	title: string;
	alt: string;
	image: string;
	elements: {
		title: string;
		image: string;
		alt: string;
	}[];
}

const technologies: Technology[] = [
	{
		title: 'FRONTEND',
		alt: 'Frontend Technologies',
		image: 'laptop.png',
		elements: [
			{
				title: 'React & NextJs',
				image: 'react.svg',
				alt: 'React & NextJs',
			},
			{ title: 'Angular', image: 'angular.svg', alt: 'Angular' },
			{ title: 'TypeScript', image: 'typescript.svg', alt: 'TypeScript' },
			{
				title: 'Tailwind CSS',
				image: 'tailwindcss.svg',
				alt: 'Tailwind CSS',
			},
		],
	},
	{
		title: 'BACKEND',
		alt: 'Backend Technologies',
		image: 'gear.png',
		elements: [
			{
				title: 'NodeJs & Express',
				image: 'nodedotjs.svg',
				alt: 'Node.js',
			},
			{ title: '.NET', image: 'dotnet.svg', alt: '.NET' },
			{ title: 'GraphQL', image: 'graphql.svg', alt: 'GraphQL' },
			{ title: 'NestJs', image: 'nestjs.svg', alt: 'NestJs' },
		],
	},
	{
		title: 'DATABASE',
		alt: 'Database Technologies',
		image: 'card-file-box.png',
		elements: [
			{ title: 'PostgreSQL', image: 'postgresql.svg', alt: 'PostgreSQL' },
			{ title: 'MySql', image: 'mysql.svg', alt: 'MySql' },
			{ title: 'MongoDB', image: 'mongodb.svg', alt: 'MongoDB' },
			{ title: 'Redis', image: 'redis.svg', alt: 'Redis' },
		],
	},
	{
		title: 'DEVOPS',
		alt: 'DevOps Technologies',
		image: 'hammer-and-wrench.png',
		elements: [
			{ title: 'Docker', image: 'docker.svg', alt: 'Docker' },
			{ title: 'Kubernetes', image: 'kubernetes.svg', alt: 'Kubernetes' },
			{ title: 'AWS', image: 'amazonwebservices.svg', alt: 'AWS' },
			{ title: 'Jenkins', image: 'jenkins.svg', alt: 'Jenkins' },
		],
	},
];
---

<section id="technologies" class="py-20 px-4 section-fade">
	<div class="container mx-auto">
		<h2 class="text-4xl font-bold mb-12 text-center">
			<span class="text-xl block mb-4 text-blue-500">
				NAVIGATION SYSTEMS
			</span>
			Technical Capabilities
			<span class="inline-block ml-2">🧠</span>
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
			{
				technologies.map((technology) => (
					<div class="skill-card min-w-[22rem] p-6 rounded-xl float">
						<div class="flex items-start justify-between mb-4">
							<h3 class="text-blue-500 text-xl">
								{technology.title}
							</h3>
							<img
								src={`/portfolio-site/images/${technology.image}`}
								alt={technology.alt}
								class="tech-icon"
							/>
						</div>
						<ul class="space-y-4">
							{technology.elements.map((element) => (
								<li class="flex items-center space-x-4">
									<img
										src={`/portfolio-site/images/${element.image}`}
										alt={element.alt}
										class="w-8 h-8"
									/>
									<span>{element.title}</span>
								</li>
							))}
						</ul>
					</div>
				))
			}
		</div>
	</div>
</section>
