---
import Card from './shared/Card.astro';
import { languagesList } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';
import { getTecnologies } from '../constants';
import type { ITechnology } from '../types';
const currentLang = Astro.currentLocale || 'en';
const translations = useTranslations(currentLang as keyof typeof languagesList);

const pathPage = (globalThis as any).BASE_URL;
const technologies: ITechnology[] = getTecnologies();
---

<section id="technologies" class="py-20 px-4 section-fade">
	<div class="container mx-auto">
		<h2 class="text-4xl font-bold mb-12 text-center">
			<span class="text-xl block mb-4 text-blue-500">
				{translations('tech.subtitle')}
			</span>
			{translations('tech.title')}
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
			{
				technologies.map((technology) => (
					<Card title={technology.title} description="" tags={[]} className="w-full">
						<img slot="icon" src={`${pathPage}images/${technology.image}`} alt={technology.alt} loading="lazy" />
						<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
							{technology.elements.map((element) => (
								<li class="flex items-center gap-4">
									<img src={`${pathPage}images/${element.image}`} alt={element.alt} class="w-8 h-8" loading="lazy" />
									<span class="text-sm">{element.title}</span>
								</li>
							))}
						</ul>
					</Card>
				))
			}
		</div>
	</div>
</section>
